<% provide(:title, 'Details') %>
<h1>Details</h1>


    <%= entry.date %>
    <%= entry.acft_model %>
    <%= entry.acft_ident %>
    <%= entry.from %>
    <%= entry.to %>
    <%= entry.sel %>
    <%= entry.mel %>
    <%= entry.ground %>
    <%= entry.dual_received %>
    <%= entry.pic %>
    <%= entry.day %>
    <%= entry.night %>
    <%= entry.cross_country %>
    <%= entry.actual_inst %>
    <%= entry.sim_inst %>
    <%= entry.no_inst_appr %>
    <%= entry.landings_day %>
    <%= entry.landings_night %>
    <%= entry.total_duration %>
    <%= entry.remarks %>
    <% end %>
