<% provide(:title, 'All entries') %>
<h1>All Log Entries</h1>


<table class = "table">
  <thead>
    <tr>
       <th>Date</th>
       <th>Aircraft Model</th>
       <th>Aircraft Identification</th>
       <th>From</th>
       <th>To</th>
       <th>Total Duration</th>
       <th>Modify</th>
   </tr>
  </thead>
  <% @entries.each do |entry| %>
    <tr>

      <td><%= entry.date %></td>
      <td><%= entry.acft_model %></td>
      <td><%= entry.acft_ident %></td>
      <td><%= entry.from %></td>
      <td><%= entry.to %></td>
      <td><%= entry.total_duration %></td>
      <td><%= link_to "Details", entry, method: :get, class: "btn btn-sm btn-primary" %>
      <%= link_to "Edit", edit_log_entry_path(entry), class: "btn btn-sm btn-success" %>
      <%= link_to "Delete", entry, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %></td>
    </tr>
  <% end %>
  </table>


  <%= link_to "Add New Entry", '/new', class: "btn btn-sm btn-primary" %>
